@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
	var parentId = Model.MacroParameters["source"];
	var docTypeId = Model.MacroParameters["doctype"];
    var property = Model.MacroParameters["property"];
}


<!-- Start Container 12 -->
	<div id="main_content" class="container_12">
	
		<div id="main">
		<div class="width-container">

			<div id="container-sidebar">
				
				
				
				
				
				<div class="content-boxed">
				
					
					
					
					
	
					
					<div id="map-container">
						<div id="ajax_msg"></div>
						<div id="finder" class="clear-block">
					
			
						<form method="post" accept-charset="UTF-8" method="post" id="finder-form" class="clear-block" class="clear-block">
							<table style="width:100%">
							<tr><td width="95%" style="padding-right:20px;">
							<div class="form-item" id="edit-gmap-address-wrapper">
							
							 <input placeholder="Location" type="text" maxlength="128" name="address" id="address" size="60" value="" class="form-text" autocomplete="off" />
							</div>
							</td>
							</tr>
							<tr>
							
							<td  width="95%">
														<div class="form-item" id="edit-products-wrapper">
							 
							
							 
							
							
							</div>
							
							</tr>
							<tr><td align="center" nowrap><input type="submit" name="op" id="edit-submit" value="Find" class="btn btn-primary" />
							
							
							</td></tr>
							</table>
							


					  <div id="map_canvas">You must have Javascript enabled to use the store finder.</div>
					  <div id="results">        
						
						<ol style="display: block; " id="list"></ol>
					  </div>
					  
					  
					    </form>
						
					  <div id="direction">
					  <h2 class="title-bg" style="padding-bottom:10px !important; ">Directions <a href="javascript:directionBack()">Back</a></h2>
					  <form method="post" id="direction-form" style="display:none">
					  
					  <p>
					  <table><tr>
					  <td>Origin:</td><td><input id="origin-direction" name="origin-direction" class="orides-txt" type=text /></td>
					  </tr>
					  <tr>
					  <td>Destination:</td><td><input id="dest-direction" name="dest-direction" class="orides-txt" type=text readonly /></td>
					  </tr>
					  </table>
					  <div id="get-dir-button" class="get-dir-button"><input type=submit id="get-direction" class="btn" value="Get Direction"> <a href="javascript:directionBack()">Back</a></div></p>
					  </form>
					  </div>					  
					 
					  
	</div>


	
					</div>
					
						
						<div class="clearfix"></div>

					</div>
					

			</div><!-- close #container-sidebar -->
			

			
		<div class="clearfix"></div>
		</div><!-- close .width-container -->
	</div><!-- close #main -->	
			
<script src="http://j.maxmind.com/app/geoip.js" type="text/javascript"><!--mce:1--></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry,places"></script>
	
	
<script type="text/javascript">
	
	var map;
	var geocoder;

	var markers = new Array();
	
	$('#address').val(geoip_city()+", "+geoip_country_name());
	var address = $('#address').val();
	if(address != '') {
				gmap_location_lookup(address);
	}
	
	$(document).ready(function(){

			

	if($('#finder-form').length) {

		$('#finder-form').submit(function(){
			var address = $('#address').val();

			
			// search for available locations
			if(address != '') {
				
				gmap_location_lookup(address);
			} else {
				
				$('#ajax_msg').show();
				$('#ajax_msg').html("<ul class='alert alert-block alert-error fade in'><li>Please enter a full address or a Postcode</li></ul>");
			}
			
		return false;
		});
	}
		
	});
	
	
/**
 * Google map location lookup
 */
function gmap_location_lookup(address) {

	if(address != '') {
		
		$('#map_canvas').html("<img src='/img/loading.gif' alt='Ajax Loading Image' />").show();
		$('#ajax_msg').hide();
		
geocoder = new google.maps.Geocoder();
	
		geocoder.geocode( {'address':address,'region':geoip_country_code()}, function(results, status) {
		
			if(status == google.maps.GeocoderStatus.OK) {
			
				var lat = results[0].geometry.location.lat();
				var lng = results[0].geometry.location.lng();
				var location = results[0].geometry.location;

				
				var myOptions = {
					zoom: 11,
					center: location,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				
				map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

				

				  var image = new google.maps.MarkerImage("/img/marker.png",
                          new google.maps.Size(32.0, 32.0),
                          new google.maps.Point(0, 0),
                          new google.maps.Point(16.0, 16.0)
                      );
				  var shadow = new google.maps.MarkerImage("/img/markershadow.png",
                      new google.maps.Size(49.0, 32.0),
                      new google.maps.Point(0, 0),
                      new google.maps.Point(16.0, 16.0)
                  );
				  var marker = new google.maps.Marker({
				      map: map,
				      draggable: false,
				      animation: google.maps.Animation.DROP,
				      position: results[0].geometry.location,
				      title: 'Your entered address'
				  });


				
				  
				// clear all markers
				jQuery.each(markers,function(k,v){
					v.setMap(null);
				});

				// clear list
				$('ol#list').empty();
				
				var number = 0;
				
				$.ajax({
					type:"GET",
					url:"/umbraco/api/LocatorApi/GetNearest",
					data:"address="+address+"&parentId=@parentId&docTypeFilter=@docTypeId&locationPropAlias=@property&numberOfSearchResults=10",
					success:function(data) {
						
						
						$.each(data, function(k, v) {
							
							var infowindow = new google.maps.InfoWindow({
								maxWidth: "400",
								content: ''
							});
							
							element = v;
							
							distancenode = element.Distance;
								var marker = new google.maps.Marker({
									map: map,
									position: new google.maps.LatLng(element.Latitude,element.Longitude),
									icon: image,
									shadow: shadow,
									title: element.Name
								});	
								markers.push(marker);
							
								// build content string
								var info_window_string = info_window_content(element);
								
								ctype='';
								if(v.cat_img != null && v.cat_img != '') {
									var ctype = '<img src="'+v.cat_img+'" style="max-width:15px; max-height:15px;" />';
								}
								
								number++
								
								if(number>9){
								$("<li id='l_"+marker['__gm_id']+"' class='clinic_list double-digit' />")
									.html("<span class='number'>"+number+"</span><div><strong>"+v.Name+"</strong><br /><span>"+v.address+"</span><div id=d_"+number+" class='distance'><span id='disval' attr-dist='"+distancenode.toFixed(2)+"' class='value'>"+distancenode.toFixed(2)+"</span> <span class='units'></span> <span class='time2'></span></div></div><div class='products'>"+ctype+"</div>")
									.click(function(){
										
										infowindow.setContent(info_window_string);
										infowindow.open(map,marker);
										toggleBounce(marker);
									})
									.appendTo("#list");
								} else {
								$("<li id='l_"+marker['__gm_id']+"' class='clinic_list' />")
									.html("<span class='number'>"+number+"</span><div><strong>"+v.Name+"</strong><br /><span>"+v.address+"</span><div id=d_"+number+" class='distance'><span id='disval' attr-dist='"+distancenode.toFixed(2)+"' class='value'>"+distancenode.toFixed(2)+"</span> <span class='units'></span> <span class='time2'></span></div></div><div class='products'>"+ctype+"</div><a id='la_"+marker['__gm_id']+"' name='la_"+marker['__gm_id']+"'></a>")
									.click(function(){
										
										infowindow.setContent(info_window_string);
										infowindow.open(map,marker);
										toggleBounce(marker);
										
										
									})
									.appendTo("#list");
								}


								
								
								// attach popup to click event
								google.maps.event.addListener(marker, 'click', function() {
								    $('#list .clinic_list').removeClass('active');
									$('#list').animate({scrollTop: $("#l_"+marker['__gm_id']).offset().top},'slow');
									
									$('#l_'+marker['__gm_id']).addClass('active');
									toggleBounce(marker);
									infowindow.setContent(info_window_string);
									infowindow.open(map,marker);
								});							
							
							
							
						});
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
					}
				});
			}
		});
		
		
	}
}
	
function toggleBounce(marker) {

	$(markers).each(function(i,marker2){
	
	 if(marker['__gm_id']!=marker2['__gm_id']){
	  marker2.setAnimation(null);
	  }

	});
	
	

	if (marker.getAnimation() != null) {
	  marker.setAnimation(null);
	} else {
	  marker.setAnimation(google.maps.Animation.BOUNCE);
	}
}
	
function info_window_content(v) {
	var info_window_string = "<div class='maps_popup'>";

	if(v.img != null && v.img != '') {
		info_window_string += "<img class='img' src='"+v.img+"' alt='"+v.name+"' />";
	}
	
	 var splitaddress = "";
	 saddress = v.address.split(" ");
	 for(i=0;i<saddress.length;i++){
		splitaddress += saddress[i]+" ";
		 if(i==4){
		  splitaddress += "<br>";
		 }
	 }

	info_window_string += "<h1><a href='"+v.Url+"'>"+v.Name+"</a></h1><p>"+splitaddress+"</p>";

	if(v.telephone != null && v.telephone != '') {
		info_window_string += "<p class='tel'>"+v.titletel+": "+v.telephone+"</p>";
	}
	if(v.email != null && v.email != '') {
		info_window_string += "<p class='email'>"+v.titleemail+": <a href='mailto:"+v.email+"'>"+v.email+"</a></p>";
	}
		
	if(v.website != null && v.website != '') {
	
		if(v.website.substring(0, 4)!="http"){
		info_window_string += "<p class='web'>"+v.titlewebsite+": <a href='http://"+v.website+"' target='new'>http://"+v.website+"</a></p>";
		} else {
			info_window_string += "<p class='web'>"+v.titlewebsite+": <a href='"+v.website+"' target='new'>"+v.website+"</a></p>";
		}
	}
	
	if(v.description != null && v.description != '') {
		info_window_string += "<p class='description'>"+v.description+"</p>";
	}
	
	
	if(v.email != null && v.email != ''){
	  info_window_string += "<span class='email'><center><a href='mailto:"+v.email+"' class='contact-clinic button blue-button' style='display:block;"+
                      "padding:5px 10px;"+
                      "margin-top:10px;"+ 
                      "margin-bottom:10px;"+
                      "margin-left:3px;"+
                      "border:1px solid #8b8b8b;"+
                      "text-align: center;"+
                      "font-weight:bold;"+
                      "width:190px;'>"+v.titlecontactstore+"</a></center></span>";
					  
	}

	info_window_string += "<a href='javascript:streetView("+v.Latitude+","+v.Longitude+");'>Street view</a> | <a href='javascript:zoomHere("+v.Latitude+","+v.Longitude+");'>Zoom here</a> | <a href='javascript:direction(\""+v.address+"\","+v.Latitude+","+v.Longitude+");'>Directions</a>";
	info_window_string += "</div>";

return info_window_string;

}	
	
function zoomHere(lat,lng){

	map.setZoom(15);
	var currentLatLng = new google.maps.LatLng(lat, lng);
	map.setCenter(currentLatLng);

}	
	
function streetView(lat,lng){

		   // street view
		   street = new google.maps.StreetViewPanorama(document.getElementById("map_canvas"), { 

			position: new google.maps.LatLng(lat, lng),
			zoomControl: false,
			enableCloseButton: true,
			addressControl: false,
			panControl: true,
			linksControl: true
		  });

}	
function direction(dest,lat,lng){
     
	 $('#direction').show();
	 $('#results').hide();
     $('#dest-direction').val(dest);

     $('#origin-direction').val($('#address').val());

     $('#direction-form').submit(function () {
	
	 var ori = $('#origin-direction').val();

		map.setZoom(7);
		var currentLatLng = new google.maps.LatLng(lat, lng);
		map.setCenter(currentLatLng);
		
			var directionsRenderer = new google.maps.DirectionsRenderer();
			directionsRenderer.setMap(map);    
			directionsRenderer.setPanel(document.getElementById('direction'));
			 
			var directionsService = new google.maps.DirectionsService();
			var request = {
			  origin: ori, 
			  destination: dest,
			  travelMode: google.maps.DirectionsTravelMode.DRIVING,
			  unitSystem: google.maps.DirectionsUnitSystem.METRIC
			};
			directionsService.route(request, function(response, status) {
			  if (status == google.maps.DirectionsStatus.OK) {
				directionsRenderer.setDirections(response);
			  } else {
				//alert('Error: ' + status);
				$('#direction').append('<table width="100%"><tr><td>Direction not found. Please try again.</td></tr></table>');
			  }	
			});
			
      $('#direction-form').nextAll().remove();
	  return false;
	  
    });

   $('#direction-form').trigger('submit');
  
}	

function directionBack(){

	 $('#direction').hide();
	 $('#results').show();
	 resetDirection();
}

function resetDirection(){
    gmap_location_lookup($('#address').val(),$('input[name=distance]:radio:checked').val(),'');
     $('#direction').html('');
	 $('#direction').html('<h2 class="title-bg" style="padding-bottom:10px !important; ">Directions</h2><form method="post" id="direction-form"><p><table><tr><td>Origin:</td><td><input id="origin-direction" name="origin-direction" class="orides-txt" type=text /></td></tr><tr><td>Destination:</td><td><input id="dest-direction" name="dest-direction" class="orides-txt" type=text readonly /></td></tr></table><div id="get-dir-button" class="get-dir-button"><input type=submit id="get-direction" class="btn" value="Get Direction"> <a href="javascript:directionBack()">Back</a></div></p></form>');
	var origin_autocomplete = new google.maps.places.Autocomplete($("#origin-direction")[0], {});
}
	
</script>	
	
	
