@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}




	
	
 <h1>@CurrentPage.Name</h1>
<div style="height:100px">
@CurrentPage.bodyText
	 </div>
	 

	 @Umbraco.RenderMacro("SeekAndDestroy", new {source="1055" , doctype="1052" , property="location" })