<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT ShopPage ANY>
<!ATTLIST ShopPage id ID #REQUIRED>
<!ELEMENT ShopsPage ANY>
<!ATTLIST ShopsPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1053" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-07-19T10:37:05" updateDate="2013-07-19T15:05:56" nodeName="Locator example site" urlName="locator-example-site" path="-1,1053" isDoc="" nodeType="1046" creatorName="admin" writerName="admin" writerID="0" template="1045" nodeTypeAlias="HomePage">
    <header>Locator example site</header>
    <bodytext><![CDATA[<p><img width="200" height="200" src="/media/1001/brand.gif" alt="Brand"/> Go to the<a href="/{localLink:1055}" title="Shops"> shops page </a>to try it out</p>]]></bodytext>
    <ShopsPage id="1055" parentID="1053" level="2" creatorID="0" sortOrder="1" createDate="2013-07-19T10:37:19" updateDate="2013-07-19T15:01:25" nodeName="Shops" urlName="shops" path="-1,1053,1055" isDoc="" nodeType="1050" creatorName="admin" writerName="admin" writerID="0" template="1049" nodeTypeAlias="ShopsPage">
      <bodytext><![CDATA[<p><img width="101"  height="101" src="/media/1002/brand_101x101.jpg" alt="Brand" style="float: right;"/></p>
<p>Example of a ajax store locator that uses Umbraco as the data source, making use of the google maps datatype <a href="http://our.umbraco.org/projects/backoffice-extensions/google-maps-datatype">http://our.umbraco.org/projects/backoffice-extensions/google-maps-datatype</a> to store coordinates on the store nodes. And using an <a href="http://our.umbraco.org/documentation/Reference/WebApi/">UmbracoApiController</a>.</p>]]></bodytext>
      <ShopPage id="1056" parentID="1055" level="3" creatorID="0" sortOrder="0" createDate="2013-07-19T10:37:33" updateDate="2013-08-09T10:58:38" nodeName="Ghent shop" urlName="ghent-shop" path="-1,1053,1055,1056" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[51.053468,3.73038,13]]></location>
        <address><![CDATA[Ghent
Belgium]]></address>
      </ShopPage>
      <ShopPage id="1057" parentID="1055" level="3" creatorID="0" sortOrder="1" createDate="2013-07-19T10:37:42" updateDate="2013-08-09T10:58:38" nodeName="Copenhagen shop" urlName="copenhagen-shop" path="-1,1053,1055,1057" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[55.6760968,12.5683371,13]]></location>
        <address><![CDATA[Copenhagen
Denmark]]></address>
      </ShopPage>
      <ShopPage id="1058" parentID="1055" level="3" creatorID="0" sortOrder="2" createDate="2013-07-19T10:37:48" updateDate="2013-08-09T10:58:38" nodeName="London shop" urlName="london-shop" path="-1,1053,1055,1058" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[51.5112139,-0.1198244,13]]></location>
        <address><![CDATA[London
Uk]]></address>
      </ShopPage>
      <ShopPage id="1059" parentID="1055" level="3" creatorID="0" sortOrder="3" createDate="2013-07-19T10:38:03" updateDate="2013-08-09T10:58:39" nodeName="Berlin shop" urlName="berlin-shop" path="-1,1053,1055,1059" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[52.519171,13.4060912,13]]></location>
        <address><![CDATA[Berlin
Germany]]></address>
      </ShopPage>
      <ShopPage id="1060" parentID="1055" level="3" creatorID="0" sortOrder="4" createDate="2013-07-19T10:38:14" updateDate="2013-08-09T10:58:39" nodeName="Paris shop" urlName="paris-shop" path="-1,1053,1055,1060" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[48.856614,2.3522219,13]]></location>
        <address><![CDATA[Paris
France]]></address>
      </ShopPage>
      <ShopPage id="1061" parentID="1055" level="3" creatorID="0" sortOrder="5" createDate="2013-07-19T10:38:48" updateDate="2013-08-09T10:58:39" nodeName="Lisbon shop" urlName="lisbon-shop" path="-1,1053,1055,1061" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[38.7252993,-9.1500364,13]]></location>
        <address><![CDATA[Lisbon
Portugal]]></address>
      </ShopPage>
      <ShopPage id="1062" parentID="1055" level="3" creatorID="0" sortOrder="6" createDate="2013-07-19T10:38:57" updateDate="2013-08-09T10:58:40" nodeName="Barcelona shop" urlName="barcelona-shop" path="-1,1053,1055,1062" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[41.3850639,2.1734035,13]]></location>
        <address><![CDATA[Barcelona
Spain]]></address>
      </ShopPage>
      <ShopPage id="1063" parentID="1055" level="3" creatorID="0" sortOrder="7" createDate="2013-07-19T10:39:08" updateDate="2013-08-09T10:58:40" nodeName="Amsterdam shop" urlName="amsterdam-shop" path="-1,1053,1055,1063" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[52.3702157,4.8951679,13]]></location>
        <address><![CDATA[Amsterdam
Netherlands]]></address>
      </ShopPage>
      <ShopPage id="1064" parentID="1055" level="3" creatorID="0" sortOrder="8" createDate="2013-07-19T10:39:19" updateDate="2013-08-09T10:58:41" nodeName="Oslo shop" urlName="oslo-shop" path="-1,1053,1055,1064" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[59.9138688,10.7522454,13]]></location>
        <address><![CDATA[Oslo
Norway]]></address>
      </ShopPage>
      <ShopPage id="1065" parentID="1055" level="3" creatorID="0" sortOrder="9" createDate="2013-07-19T10:39:26" updateDate="2013-08-09T10:58:42" nodeName="Stockholm shop" urlName="stockholm-shop" path="-1,1053,1055,1065" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[59.32893,18.06491,13]]></location>
        <address><![CDATA[Stockholm
Sweden]]></address>
      </ShopPage>
      <ShopPage id="1070" parentID="1055" level="3" creatorID="0" sortOrder="10" createDate="2013-07-19T14:52:19" updateDate="2013-08-09T10:58:42" nodeName="Aalst shop" urlName="aalst-shop" path="-1,1053,1055,1070" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[50.9378101,4.0409517,13]]></location>
        <address><![CDATA[Aalst
Belgium]]></address>
      </ShopPage>
      <ShopPage id="1071" parentID="1055" level="3" creatorID="0" sortOrder="11" createDate="2013-07-19T14:52:40" updateDate="2013-08-09T10:58:43" nodeName="Zottegem shop" urlName="zottegem-shop" path="-1,1053,1055,1071" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[50.866252,3.8031579,13]]></location>
        <address><![CDATA[Zottegem
Belgium]]></address>
      </ShopPage>
      <ShopPage id="1072" parentID="1055" level="3" creatorID="0" sortOrder="12" createDate="2013-07-19T14:52:59" updateDate="2013-08-09T10:58:44" nodeName="Geraardsbergen shop" urlName="geraardsbergen-shop" path="-1,1053,1055,1072" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[50.7707354,3.8751639,13]]></location>
        <address><![CDATA[Geraardsbergen
Belgium]]></address>
      </ShopPage>
      <ShopPage id="1073" parentID="1055" level="3" creatorID="0" sortOrder="13" createDate="2013-07-19T14:53:19" updateDate="2013-08-09T10:58:45" nodeName="Herzele shop" urlName="herzele-shop" path="-1,1053,1055,1073" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[50.881332,3.889665,13]]></location>
        <address><![CDATA[Herzele,
Belgium]]></address>
      </ShopPage>
      <ShopPage id="1074" parentID="1055" level="3" creatorID="0" sortOrder="14" createDate="2013-07-19T14:53:40" updateDate="2013-08-09T10:58:46" nodeName="Antwerpen shop" urlName="antwerpen-shop" path="-1,1053,1055,1074" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[51.2192159,4.4028818,13]]></location>
        <address><![CDATA[Antwerpen
Belgium]]></address>
      </ShopPage>
      <ShopPage id="1075" parentID="1055" level="3" creatorID="0" sortOrder="15" createDate="2013-07-19T14:54:02" updateDate="2013-08-09T10:58:46" nodeName="Brussels shop" urlName="brussels-shop" path="-1,1053,1055,1075" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[50.8503396,4.3517103,13]]></location>
        <address><![CDATA[Brussels
Belgium]]></address>
      </ShopPage>
      <ShopPage id="1076" parentID="1055" level="3" creatorID="0" sortOrder="16" createDate="2013-07-19T14:54:37" updateDate="2013-08-09T10:58:48" nodeName="Tervuren shop" urlName="tervuren-shop" path="-1,1053,1055,1076" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[50.823881,4.518551,13]]></location>
        <address><![CDATA[Tervuren
Belgium]]></address>
      </ShopPage>
      <ShopPage id="1077" parentID="1055" level="3" creatorID="0" sortOrder="17" createDate="2013-07-19T14:55:08" updateDate="2013-08-09T10:58:48" nodeName="Bierbeek shop" urlName="bierbeek-shop" path="-1,1053,1055,1077" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[50.8279,4.75981,13]]></location>
        <address><![CDATA[Bierbeek
Belgium]]></address>
      </ShopPage>
      <ShopPage id="1078" parentID="1055" level="3" creatorID="0" sortOrder="18" createDate="2013-07-19T14:55:37" updateDate="2013-08-09T10:58:49" nodeName="Holsbeek shop" urlName="holsbeek-shop" path="-1,1053,1055,1078" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ShopPage">
        <location><![CDATA[50.92113,4.75696,13]]></location>
        <address><![CDATA[Holsbeek
Belgium]]></address>
      </ShopPage>
    </ShopsPage>
  </HomePage>
</root>